fairseq==0.12.2
fastBPE==0.1.0
fire==0.5.0
iopath==0.1.10
jieba==0.42.1
langid==1.1.6
mosestokenizer==1.2.1
numpy==1.19.5
omegaconf==2.0.6
pip==21.2.2
pypinyin==0.48.0
sacrebleu==2.3.1
sentencepiece==0.1.97
torch==1.10.1
tqdm==4.64.1
tensorboardX==2.6.2.2
